[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
celery = "*"
flower = "*"
stripe = "*"
redis = "*"
django-rosetta = "*"
django-parler = "*"
django-localflavor = "*"

[dev-packages]

[requires]
python_version = "3.11"
